<!--  this is the nav bar which should appear at the top of each and every page -->
<nav>
	<div class="nav-wrapper blue">
		<a href="#" class="brand-logo">Kit Robinson</a>
		<ul class="right hide-on-med-and-down">
			<li id='link-coding'><a class="waves-effect waves-light btn"href="#">Coding</a></li>
			<li id='link-personal'><a class="waves-effect waves-light btn"href="#">Personal</a></li>
			<li id='link-games'><a class="waves-effect waves-light btn"href="#">Games</a></li>
		</ul>
		<a href="#" data-activates="compressed-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul class="side-nav" id="compressed-nav">
			<li><a href="#">Coding</a></li>
			<li><a href="#">Personal</a></li>
			<li><a href="#">Games</a></li>
		</ul>
	</div>
</nav>